@import "tailwindcss";

.traingle-cls{
   display: inline-block;
   transform: rotate(180deg);
}

.slick-slide > div {
  margin: 0 15px 0px 0px ;
}

.swiper-button-prev{
  background-color: red;
  color: green;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffff;
  /* Optional: make them round / size */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000000;   /* arrow icon colour (if using default icon) */
}

:root {
  --swiper-navigation-color: #000000;   /* arrow icon colour */
  --swiper-navigation-size: 12px;       /* size of icon if needed */
}